@charset "UTF-8";

input[type="radio"]{
    margin-top: 6px;
}

input[type="radio"]:focus{
    outline: none;
    box-shadow: 0 0 3px 2px rgb(16,255,0);
    border-radius: 6px;
}

input[type='radio']:after {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid black;
}

input[type='radio']:checked:after {
    width: 12px;
    height: 12px;
    border-radius: 12px;
   
    left: -1px;
    position: relative;
    background-color: #282929;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid black;
}

#submit-btn {
    margin-left: 10px;
}

#clear-btn {
    margin-left: 10px;
}

.inline-middle {
    display: inline-block;
    margin-top: 20px;
}

.inline-top {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.ta-right {
    text-align: right;
}

.ta-center {
    text-align: center;
}

.ta-left {
    text-align: left;
}

.width_120 {
    width: 120px;
}

h2 {
    font-family: 'Comfortaa','Raleway';
    text-align: center;
    font-size: 53px;
    color: black;
    display:inline-block;
    /*text-shadow:4px 2px 18px #0ff, -4px -2px 18px #0ff;*/
    letter-spacing: 2px;
    text-transform: uppercase;
}

#nomobile h2 {
    font-size: 18px;
}

h3 {
    font-family: 'Raleway';
    font-size: 24px;
    letter-spacing: 1px;
    color: black;
    display: inline-block;
    padding: 5px 20px;
    margin: 0;
    margin-left: -42px;
    text-align: left;
    width: 750px;
}

h4 {
    font-family: 'Raleway';
    font-size: 16px;
    padding: 3px;
    margin-top: -12px;
    margin-bottom: 5px;
}

#diemInput, #paymentInput {
    background-color: white;
    padding: 20px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
   /* box-shadow: 3px 0 10px white; */ 
}

#payments{
    background-color: white;
    width: 790px;
    margin-left: auto;
    margin-right: auto;
}

#totals-display{
    display: none;
}

.totals {
    background-color: white;
    width: 250px;
    font-weight: bold;
    /*position: absolute;*/
    float: left;
    padding: 20px 0 15px 0;
    margin-bottom: 40px;
    margin-left: 8px;
}



#totals-position { 
    width: 790px;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
}

#bkDate, #lnAmount, #rate {
    margin-left: 2px;
}

#bkDate, #lnAmount {
    margin-right: 10px;
    
}

span#percent {
   
    margin-right: 10px;
    margin-left: 2px;
    
}

#instruc1 {
    font-family: 'Raleway','Oswald', sans-serif;
    text-align: left;
    width: 290px;
    margin: 0 auto 40px auto;
    padding: 5px 10px;
    display: inline-block;
    background-color: rgba( 255, 255, 255, .5);
}

#instruc1 span {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
    display: inline-block;
}

#initDiem, #example-car, #example-home,#example-home2, #pmtTips, #tip1{
    display: none;
    font-family: 'Raleway','Oswald', sans-serif;
    margin-top: 20px;
    padding: 5px 5px;
    background-color: rgba( 255, 255, 255, .5);
}

.ow {
    font-family: 'Oswald', sans-serif;
}

body{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    padding: 15px;
    /*background-image: url("../img/nl.jpg");
    background-size: cover;*/
    background-color: white;
}

.loan__container {
    text-align: center;
    background-color: lightgray;
    width: 970px;
    margin: 0 auto;
}


#purpose__container, #developer__container{
    width: 920px;
    margin: 50px auto;
    font-size: 18px;
    line-height: 1.9rem; 
    display: none;
}

#purpose__container a, #developer__container a{
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 10px;
}

#purpose, #developer {
    padding-top: 90px;
}

#developer__container {
    margin-bottom: 1000px;
}

#purpose__container img {
    text-align: center;
}

label{
    
    letter-spacing: .5px;
    font-size: 17px;
}

button {
    font-family: 'Oswald', sans-serif;
    letter-spacing: .5px;
    padding: 2px 8px;
    font-size:  15px;
    box-shadow: 4px 2px 6px gray;

    
}

#btn-diem {
    margin-left: 20px;
}

button:focus{
    outline: none;
    box-shadow: 0 0 2px 2px rgb(16,255,0);
}

button:hover {
    box-shadow: none;
}

input:focus {
    outline: 3px solid rgb(16,255,0);
  /*  box-shadow: 4px 4px 5px rgba(0,255,255,.3), -4px -4px 5px rgba(0,255,255,.3), -4px 4px 5px rgba(0,255,255,.3), 4px -4px 5px rgba(0,255,255,.3);*/
   
}

.width_70 {
    width: 70px;
}

#rate{
    width: 45px;
}

input {
    padding-right: 5px;
    text-align: right;
    border: 1px solid grey;
    font-size: 12px;
}

#payments-display, #paymentinput-display{
    display: none;
}

#paymentDate,#paymentAmount {
    margin-top: 6px;
}

#pmts th {
    /*position: sticky;*/
    top: 0;
    padding: 10px 15px 5px 0;
    text-align: right;
   
}

#pmts td {
    text-align: right;
    padding-right: 15px;

    
}

.total-label {
    display: inline-block;
    text-align: right;
    width: 120px;
    margin-left: -20px;
    padding-bottom: 10px;
}

  #example-car {
      margin: 17px 10px 0 10px;
  }

  #example-home span {
     display: inline-block;
     line-height: 25px;
  }

  #example-home2 span, #pmtTips span{
    display: inline-block;
    line-height: 25px;
    text-align: left;
 }

 #pmtTips span{
     font-weight: bold;
 }

.navigation__list {
    list-style-type: none;
    height: 70px;
    
  }

.navigation__item {
    width: 125px;
    float:left;
}

.navigation__link {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-family: 'Raleway';
    font-size: 22px;

}

#email {
    position:absolute;
    left:-9999px
}

  @media screen and (max-width: 1000px) {
    #monitor{
        display: none;
    }
    #nomobile{
        display: block;
        color:black;
        text-align: center;
    }
    #nomobile p {
        text-align: left;
        padding: 3% 10%;
        line-height: 1.5;
    }
  }
  @media screen and (min-width: 1000px){
    #monitor{
        display: block;
    }
    #nomobile{
        display: none;
    } 
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    transform: translateX(-50%);
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /*for arrow on tooltip*/
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  @media screen and (min-width: 1000px){
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
  }

 .btn-1 {
      outline: 1px solid black;
      padding: 5px 10px;
  }